In [37]:
import cobra

In [38]:
from cobra import Model,Reaction,Metabolite

In [39]:
model=Model(' Model ')

In [40]:

## S1 : A=====> B ##

F1=Reaction('First1')
F1.name='First1'
F1.lower_bound=0
F1.upper_bound=1000


## S2 : B=====> c ##

S2=Reaction('Second2')
S2.name='Second2'
S2.lower_bound=0
S2.upper_bound=1000

In [41]:
## F0 : =====> A ##

F0=Reaction('F0')
F0.name='F0'
F0.lower_bound=30
F0.upper_bound=30

## L : C=====>  ##
L=Reaction('Last')
L.name='Last1'
L.lower_bound=0
L.upper_bound=1000

In [42]:
## T3 : A=====> ATP ##

T3=Reaction('Third3')
T3.name='Third3'
T3.lower_bound=28
T3.upper_bound=28

## F4 : ATP=====> ##

F4=Reaction('Forth4')
F4.name='Forth4'
F4.lower_bound=0
F4.upper_bound=1000

In [43]:
A= Metabolite('A',compartment='c')

               ###

B=Metabolite('B',compartment='c')

               ###

C= Metabolite('C',compartment='c')

               ###

ATP= Metabolite('ATP',compartment='c')

In [44]:
# Add metabolites in reaction F1 
F1.add_metabolites({A:-1,B:1})


# Add metabolites in reaction S2 
S2.add_metabolites({B:-1,C:1})


# Add metabolites in reaction F0 
F0.add_metabolites({A:1})


# Add metabolites in reaction L 
L.add_metabolites({C:-1})


# Add metabolites in reaction T3 
T3.add_metabolites({A:-1,ATP:1})


# Add metabolites in reaction F4 
F4.add_metabolites({ATP:-1})

In [45]:
# Add reactions in model  
model.add_reactions([F0,F1,S2,T3,F4,L])

In [46]:
# Put L as a objective function  

model.objective = L

In [47]:
model.optimize()

In [48]:
model.summary()